.board {
    width: 400px;
    margin: auto;
    margin-top: 5vh;
}

.info {
    width: 400px;
    margin: auto;
}

.move-history {
    max-height: 100px;
    overflow-y: scroll;
}
.move-commentary {
    position: absolute;
    top: 20%;
    max-height: 60%;
    overflow-y: scroll;
    color: rgb(7, 7, 90);
    width: 450px;
    max-width: 20%;
}
.move-suggestion {
    position: absolute;
    right: 1.25rem;
    top: 20%;
    max-height: 60%;
    color: black;
    width: 450px;
    max-width: 20%;
}
.move-suggestion-title {
    position: absolute;
    right: 1.25rem;
    top: 15%;
    max-height: 60%;
    color: black;
    font-weight: bold;
    width: 450px;
    max-width: 20%;
}

#fen-input {
    width: 10rem;
}
.chess-icon {
    font-size: 1.25rem; /* Adjust the size as needed */
}

@media only screen and (max-width: 950px) {
    .move-commentary,
    .move-suggestion-title,
    .move-suggestion {
        position: relative;
        max-width: 100%;
        top: 0;
        right: 0;
    }

    .move-suggestion-title {
        font-size: small;
    }

    .move-suggestion {
        height: 230px;
        font-size: small;
    }

    .move-commentary {
        max-height: 200px;
    }
    
    .info {
        font-size: small;
    }

    .board {
        width: 90vw!important;
        margin-top: 0;
    }

    .board-b72b1 {
        width: 90vw!important;
    }

    .square-55d63 {
        width: 11.25vw!important;
        height: 11.25vw!important;
    }

    body {
        overflow: hidden !important;
    }
}



/* render arrow */
#arrow-container {
    pointer-events: none;
}
.arrow {
    position: absolute;
    top: 0;
    left: 0;
}
.arrow-blue{
    z-index: 8;
}
.arrow-orange{
    z-index: 9;
}
.arrow-red{
    z-index: 10;
}
.arrow-green{
    z-index: 11;
}
.arrow-orange,.arrow-blue path {
    stroke-dasharray: 5, 5;
}

.d-none {
    display: none;
}

.comment-arrow {
    cursor: pointer;
}
