.board {
    width: 400px;
    margin: auto
}

.info {
    width: 400px;
    margin: auto;
}

.move-history {
    max-height: 100px;
    overflow-y: scroll;
}
.move-commentary {
    position: absolute;
    max-height: 100px;
    overflow-y: scroll;
    color: red;
    font-weight: bold;
}
.move-suggestion {
    position: absolute;
    right: 20px;
    max-height: 100px;
    color: green;
    font-weight: bold;
}