.board {
    width: 400px;
    margin: auto
}

.info {
    width: 400px;
    margin: auto;
}

.move-history {
    max-height: 100px;
    overflow-y: scroll;
}
.move-commentary {
    position: absolute;
    top: 20%;
    max-height: 60%;
    overflow-y: scroll;
    color: rgb(7, 7, 90);
    font-weight: bold;
    max-width: 20%;
}
.move-suggestion {
    position: absolute;
    right: 20px;
    top: 20%;
    max-height: 60%;
    color: green;
    font-weight: bold;
    max-width: 20%;
}

#fen-input {
    width: 10rem;
}